{% extends "base.html" %}
{% block title %}
Наши правила
{% endblock %}

{% block content %}
<div class="container py-5">
  <h1>Наши правила</h1>
  <p>
    <b>Не шуметь.</b> Мы просим вас уважать окружающих зрителей и соблюдать тишину во время сеансов. Громкие разговоры, шумные комментарии или использование мобильных телефонов могут отвлечь других зрителей от фильма.
  </p>
  <p>
    <b>Не есть попкорн в большом количестве.</b> Мы понимаем, что попкорн — это классическая закуска для киносеанса. Однако просим вас не злоупотреблять шумными упаковками и громкими звуками при его поедании, чтобы не мешать другим зрителям.
  </p>
  <p>
    <b>Пользуйтесь мобильным телефоном с уважением.</b> Мобильные телефоны должны быть в беззвучном режиме. Просим вас не использовать телефоны во время сеанса, чтобы не создавать помех для окружающих. Если вам нужно ответить на звонок, пожалуйста, выйдите из зала.
  </p>
  <p>
    <b>Не занимайте чужие места.</b> Мы просим вас соблюдать указанные места на билете и не перемещать свои места без необходимости, чтобы другим зрителям было удобно.
  </p>
  <p>
    <b>Не приносите запрещённые предметы.</b> В целях безопасности запрещено приносить в зал еду, напитки или предметы, которые могут создать неудобства для других зрителей или нарушать правила безопасности.
  </p>
  <p>
    <b>Уважайте других зрителей.</b> Мы придерживаемся принципа взаимного уважения. Пожалуйста, не вмешивайтесь в действия других, не проводите разговоры во время фильма и следите за своими действиями, чтобы обеспечить комфорт для всех гостей кинотеатра.
  </p>
  <p>
    <b>Запрещается запись или съемка фильма.</b> В целях защиты авторских прав строго запрещается записывать или снимать фильмы, транслируемые в нашем кинотеатре.
  </p>
</div>
{% endblock %}
